<!-- Services Section -->
    <section id="vision" class="bg-light-gray">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">About us</h2>
                  <h3 class="section-subheading text-muted">Welcome to our page !  We will do everything we can to please you and make your trip amazing.</br>
                    We propose many services especially a system to eradicate The Jet Lag</h3>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-12 text-center">

              <p>
              You are searching for an amazing room ? You are traveling for proffesionnal reasons, to visit amazing landscapes? Don't worry we will take care of you, our rooms are very well equiped.
              Every app is available in all Hotels of our chains.
                
                </p>
              <p>
              E QUA CI FICCHIAMO UN BEL VIDEOO
              </p>
              </div>
              </div>
</div>
</section>
