<!-- Contact and booking Section -->
    <section id="contact_booking" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact and booking</h2>
                    <h3 class="section-subheading text-muted">Book everithing by phone and contact our Team by mail</h3>


		<table>
  <caption>Prices and offers</caption>
  <thead>
    <tr>
      <th scope="col">Destination</th>
      <th scope="col">1 night</th>
      <th scope="col">2 nights</th>
      <th scope="col">1 week</th>
    </tr>
  </thead>
  <tbody>
	<tr>
	<th scope="row">Spain, Gran Canaria</th>
      <td>110 &euro;</td>
      <td>210 &euro;</td>
      <td>670 &euro;</td>
    </tr>


    <tr>
      <th scope="row">Bahamas, Nassau</th>
      <td>100 &euro;</td>
      <td>190 &euro;</td>
      <td>600 &euro;</td>
    </tr>
    <tr>
      <th scope="row">California, Los Angeles</th>
      <td>130 &#36;</td>
      <td>250 &#36;</td>
      <td>800 &#36;</td>
    </tr>
       

    <tr>
      <th scope="row">Poland, Krakow</th>
      <td>80 &euro;</td>
      <td>150 &euro;</td>
      <td>460 &euro;</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row" colspan="2">Option JLL</th>
      <td colspan="2">10 &#36;</td>
    </tr>
  </tfoot>
</table>
                </div>
            </div>
            <p> To book your place in our hotel send an email to s267144@studenti.polito.it</p>
            </div>
        </div>
    </section>