<!-- Jet lag Section -->
    <section id="equipment_services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our special equipment and services</h2>
                    <h3 class="section-subheading text-muted">  We garantee the best cumfort in our rooms.</h3>
                </div>
            </div>
        <p> We garantee the same services in any other hotel. Our cosy rooms will provide for any of your needs. We propose you to 
            test our new product <strong> The Jet Lag Lamp</strong>. To solve any of your sleep trouble, and to use an app that helps you 
            with your appointments and help you to fight the Jet Lag effect, download the ap and <I>REST IN PEACE</I>.
         <div id="col_1">
        <div id="corps">
            <h3>The Jet Lag Service</h3>
        <div class="bloc">
            <a href="https://ami-2019.github.io/Jet-Lag-Lamp/"><img src="img/logos/Logo.png" width="200" height="200" alt="" 
            title="Logo" /></a>
                <p> A new application to fight the Jet Lag effect. Download the app and enjoy all the connected environement offered
                by the hotel. Do not care about your appointments or how many hours you should sleep, everything is managed thanks
                the app.</p>
            </div>
            </div>
            </div>
            <p> </p>
            <div class="row text-center">
                <div id="centre">
                    <h3><br/>Requirements</h3>
                    <img src="img/service.png" width="350" height="350" alt=""/>
                </div>
            </div>
            <div class="col-lg-12 text-center">
	            <p><br/><br/><strong>To use the Jet lag service, follow the following steps</strong>.</p>
            <ul class="list-group">
                          <li class="list-group-item"><strong> 1. </strong> Download the App 
                </li>
                            <li class="list-group-item"><strong> 2. </strong> Login in the app using your google account, if you need one just follow the steps in the app to create a new one
                </li>
                <li class="list-group-item"><strong> 3. </strong> Answer to all personal questions that are asked, we need it to 
                    calculate your circadian rythm
                </li>
	<li class="list-group-item"><strong> 4. </strong> Check the info that the system got from your google account and in order to get a better experience fill the one that are missing
	</li>
	<li class="list-group-item"><strong> 5. </strong> In the traveler info section, set how long your travel will be and also the country in which you have been in the last 15 days. 
	This is needed to get the best possible experience out of the system
	</li>
              </ul>
	<p> <br/><br/> <strong> NOTE: </strong> In the DAYLY PLAN section of the app, you will see day by day the wakeup time and the bed time that the JetLagLamp has calculated for you. 
	If you can't follow this time schedule, don't worry, the systeme will wait for you unless in the travel info section you had disabled it.
	</p>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">The team of developers</h3>
                    <h3 class="section-subheading text-muted">For any questions more precise on the ap send them an email</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
        </div>
    </section>