<section id="equipment_services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our special equipment and services</h2>
                <h3 class="section-subheading text-muted"> We garantee the best cumfort in our rooms.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p> We garantee the same services in any other hotel. Our cosy rooms will provide for any of your needs. We propose you to test our new product <strong> The Jet Lag Lamp</strong>. To solve any of your sleep trouble, and to use an app that
                    helps you with your appointments and help you to fight the Jet Lag effect, download the ap and <i>REST IN PEACE</i>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <h3 class="text-center">The Jet Lag Service</h3>
                <div class="text-center">
                    <a href="https://ami-2019.github.io/Jet-Lag-Lamp/">
                        <img src="img/logos/Logo.png" height="200" alt="" title="Logo" style="margin-bottom: 2em;">
                    </a>
                </div>
                <p class="text-justify">A new application to fight the Jet Lag effect. Download the app and enjoy all the connected environement offered by the hotel. Do not care about your appointments or how many hours you should sleep, everything is managed thanks the app.</p>

            </div>
            <div class="col-lg-6 col-xs-12">
                <h3 class="text-center">Requirements</h3>
                <div class="text-center">
                    <img src="img/service.png" width="350" alt="">
                </div>
            </div>

        </div>

        <div class="col-lg-12 text-center">
            <p><br><br><strong>To use the Jet lag service, follow the following steps</strong>.</p>
            <ul class="list-group">
                <li class="list-group-item"><strong> 1. </strong> Download the App
                </li>
                <li class="list-group-item"><strong> 2. </strong> Login in the app using your google account, if you need one just follow the steps in the app to create a new one
                </li>
                <li class="list-group-item"><strong> 3. </strong> Answer to all personal questions that are asked, we need it to calculate your circadian rythm
                </li>
                <li class="list-group-item"><strong> 4. </strong> Check the info that the system got from your google account and in order to get a better experience fill the one that are missing
                </li>
                <li class="list-group-item"><strong> 5. </strong> In the traveler info section, set how long your travel will be and also the country in which you have been in the last 15 days. This is needed to get the best possible experience out of the system
                </li>
            </ul>
            <p><br> <strong> NOTE: </strong> In the <i>DAYLY PLAN</i> section of the app, you will see day by day the wakeup time and the bed time that the JetLagLamp has calculated for you. If you can't follow this time schedule, don't worry, the system
                will wait for you unless in the travel info section you had disabled it.
            </p>

        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">The team of developers</h3>
                <h3 class="section-subheading text-muted">For any questions more precise on the ap send them an email</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Marion Durafour</h4>
                    <p class="text-muted">SW developer</p>
                    <ul class="list-inline social-buttons">

                        <li>
                            <a href="https://github.com/Mariondurafour">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://vincentgautier.github.io/Hotel-web-site/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:s266900@studenti.polito.it">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </li>


                    </ul>
		<p class="text-muted">s266900@studenti.polito.it</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>Fabio Baldo</h4>
                    <p class="text-muted">HW developer</p>
                    <ul class="list-inline social-buttons">

                        <li>
                            <a href="https://github.com/FabioBaldo17">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://vincentgautier.github.io/Hotel-web-site/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:s235527@studenti.polito.it">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </li>


                    </ul>
		<p class="text-muted">s235527@studenti.polito.it</p>

                </div>
            </div>

            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Vincent Gautier</h4>
                    <p class="text-muted">SW/HW developer</p>
                    <ul class="list-inline social-buttons">

                        <li>
                            <a href="https://github.com/VincentGautier">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://vincentgautier.github.io/Hotel-web-site/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:s267144@studenti.polito.it">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </li>


                    </ul>
		<p class="text-muted">s267144@studenti.polito.it</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/4.jpg" class="img-responsive img-circle" alt="">
                    <h4>Alessandro Bugliarelli</h4>
                    <p class="text-muted">SW/HW developer</p>
                    <ul class="list-inline social-buttons">

                        <li>
                            <a href="https://github.com/Bugliaa">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://vincentgautier.github.io/Hotel-web-site/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:s234845@studenti.polito.it">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </li>


                    </ul>
		<p class="text-muted">s234845@studenti.polito.it</p>
                </div>
            </div>

        </div>
    </div>
</section>