<!-- Services Section -->
    <section id="find_hotel" class="bg-light-gray">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Find an hotel</h2>
                  <h3 class="section-subheading text-muted">Welcome to our page !  We will do everything we can to please you and make
                   your trip amazing.</br>
                    We propose many services that are all availables in all our diffrent hotels.
                  For more specifications, refers to the section <strong> Equipments and services </strong></h3>
              </div>
          </div>
        
        <div class="row">
            <div class="col-lg-12 text-center">

              <p>
              You are searching for an amazing room ? You are traveling for proffesionnal reasons, to visit amazing landscapes? 
              Don't worry we will take care of you, our rooms are very well equiped. Choose one of the 4th folowing destination
              and enjoy your trip.
              If you are here for work reasons, everything will be done to make you feel good.
            
                </p>
            </div>
            </div>
        <div class="row text-center">
      <div class="col-md-3">
          <img src="img/header_bg.jpg" width="280" height="200"alt="" />
        <h4 class="service-heading">Hotel 1</h4>
        <p class="text-muted" align="justify">
           <strong> Destination : </strong> </p>
		<p> Hotel Mira el Mar 
			 <div class="rating">
				<span>&#9734</span>
  	 			<span>☆</span>
   				<span>☆</span>
   				<span>☆</span>
   				<span>☆</span>

			</div>      
		
		
	     	   Spain, Gran canaria   
                                             </p>
        </div>
           <div class="col-md-3">
               <img src="img/hotel_2.jpg" width="280" height="200" alt="" />
          <h4 class="service-heading">Hotel 2</h4>
          <p class="text-muted" align="justify">
            <strong> Destination : </strong> </p>
	<p>
	Hotel Playa D'or
       <div class="rating">
	<span>&#9734</span>
  	 <span>☆</span>
   	<span>☆</span>
   	<span>☆</span>
   	<span>☆</span>

	</div>      
	Bahamas,Nassau  </p>
          </div>
                                               
          <div class="col-md-3">
           <img src="img/hotel3.jpg" width="280" height="200" alt="" />
                               
            <h4 class="service-heading">Hotel 3</h4>
            <p class="text-muted" align="justify">
              <strong> Destination : </strong> </p>
	<p>
	 L.A. Grand Hotel
               <div class="rating">
	<span>&#9734</span>
  	 <span>☆</span>
   	<span>☆</span>
   	<span>☆</span>
   	<span>☆</span>

</div>                                  
                   California, Los Angeles                              </p>
            </div>
            <div class="col-md-3">
              
               <img src="img/hotel4.jpg" width="280" height="200" alt="" />                  
                                 
              <h4 class="service-heading">Hotel 4</h4>
              <p class="text-muted" align="justify">
                <strong> Destination : </strong></p>
	<p>
	 Holiday Inn
                                                   
                        <div class="rating">
	<span>&#9734</span>
  	 <span>☆</span>
   	<span>☆</span>	
		</div>                           
                      Poland, Krakow                             </p>
              </div>
            </div>
          </div>                                   
          <div class="row">
            <div class="col-lg-12 text-center">

              
              <p>
              REST IN PEACE
              </p>
              </div>
              </div>
</div>
</section>