<!-- Services Section -->
    <section id="find_hotel" class="bg-light-gray">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Find an hotel</h2>
                  <h3 class="section-subheading text-muted">Welcome to our page !  We will do everything we can to please you and make
                   your trip amazing.</br>
                    We propose many services that are all availables in all our diffrent hotels.
                  For more specifications, refers to the section <strong> Our Services</strong></h3>
              </div>
          </div>
        
        
        
        <div class="row text-center">
      <div class="col-md-3">
          
        <p style="backgound-image : url(img/hotel2.jpg);>
          
        <h4 class="service-heading">Hotel 1</h4>
        <p class="text-muted" align="justify">
          The Ami system can know if the user is
          inside the hotel room or not thanks the wifi. If he is inside,
          according to the data inside the google calendar, we can
          advice him to sleep and if he agrees, we prepare the
          room for his sleep (shutting the blinds, switch
          off the lights...)</p>
        </div>
           <div class="col-md-3">
          <h4 class="service-heading">Hotel 2</h4>
          <p class="text-muted" align="justify">
            If the system calculate that the user needs
            to sleep, it will advice him to take a break. The user can
            refuse but if he accepts, the system will calculate the
            time that he needs to sleep and fix the alarm. It will
            also close the blinds and switch off the lights.</p>
          </div>
                                               
          <div class="col-md-3">
           
                               
            <h4 class="service-heading">Hotel 3</h4>
            <p class="text-muted" align="justify">
              The system will ask to the user some
              information about his age. Using the science, we will claculate
              the best time of sleeping. Moreover, using the google calendar,
              we know when he has appointments or other flights, we can
              anticipate all of this and advice him to sleep at a preise time.</p>
            </div>
            <div class="col-md-3">
              
                                 
                                 
              <h4 class="service-heading">Hotel 4</h4>
              <p class="text-muted" align="justify">
                This system will be intelligent because thanks
                the science and the age, it can calculates the sleeping time of
                the user. It can also integrate to his calculation the feedback
                given by the user.<br>
                Like this it permites to personalize the
                sleeping time.</p>
              </div>
            </div>
          </div>                                   
          <div class="row">
            <div class="col-lg-12 text-center">

              <p>
              You are searching for an amazing room ? You are traveling for proffesionnal reasons, to visit amazing landscapes? Don't worry we will take care of you, our rooms are very well equiped.
              Every app is available in all Hotels of our chains.
                
                </p>
              <p>
              E QUA CI FICCHIAMO UN BEL VIDEOO
              </p>
              </div>
              </div>
</div>
</section>
