<!-- Rooms Section -->
<section id="our_rooms" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our rooms</h2>
                <h3 class="section-subheading text-muted">Amazing intelligent rooms.</h3>
            </div>
        </div>
  <div class="container">
<div id="corps">
            <h3>The Room Service</h3>
        <div class="bloc">
            <img src="img/room.png" width="820" height="800" align="center" alt=""/>

                <p> A new application to fight the Jet Lag effect. Download the app and enjoy all the connected environement offered
                by the hotel. Do not care about your appointments or how many hours you should sleep, everything is managed thanks
                the app.</p>
            </div>
            </div>
</div>
         
</section>