<!-- Rooms Section -->
<section id="rooms" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our rooms</h2>
                <h3 class="section-subheading text-muted">Why our project is intelligent.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Sensitive</h4>
                <p class="text-muted">The Ami system can know if the user is inside the hotel room or not thanks the wifi. If he is inside, according to the data inside the google calendar, we can advice him to sleep and if he agrees, we prepare the room for his sleep ( shutting the blinds, switch off the lights,...)</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Responsive</h4>
                <p class="text-muted">If the system calculate that the user needs to sleep, it will advice him to take a break. The user can refuse but if he accepts, the system will calculate the time that he needs to sleep and fix the alarm. It will also close the blinds and switch off the lights.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Adaptive</h4>
                <p class="text-muted">The system will ask to the user some informations about his age. Using the science, we will claculate the best time of sleeping. Moreover, using the google calendar, we know when he has appointments or other flights, we can anticipate all of this and advice him to sleep at a preise time.</p>
            </div>
          <div class="col-md-3">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Intelligent</h4>
              <p class="text-muted">Ce system will be intelligent because thanks the science and the age, it can calculates the sleeping time of the user. It can also integrate to his calculation the feedback given by the user. Like this it permites to personalize the sleeping time.</p>
          </div>
        </div>
    </div>
    </div>
</section>
