<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The team</h2>
                    <h3 class="section-subheading text-muted">This is the team no. 1.</h3>
                </div>
            </div>
            <div class="row">

            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Marion Durafour</h4>
                    <p class="text-muted">SW developer</p>
                    <ul class="list-inline social-buttons">

                        <li>
                            <a href="https://github.com/Mariondurafour">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
		<p class="text-muted">s266900@studenti.polito.it</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>Fabio Baldo</h4>
                    <p class="text-muted">HW developer</p>
                    <ul class="list-inline social-buttons">

                        <li>
                            <a href="https://github.com/FabioBaldo17">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                 
                    </ul>
		<p class="text-muted">s235527@studenti.polito.it</p>

                </div>
            </div>

            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Vincent Gautier</h4>
                    <p class="text-muted">SW/HW developer</p>
                    <ul class="list-inline social-buttons">

                        <li>
                            <a href="https://github.com/VincentGautier">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
		<p class="text-muted">s267144@studenti.polito.it</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/4.jpg" class="img-responsive img-circle" alt="">
                    <h4>Alessandro Bugliarelli</h4>
                    <p class="text-muted">SW/HW developer</p>
                    <ul class="list-inline social-buttons">

                        <li>
                            <a href="https://github.com/Bugliaa">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
		<p class="text-muted">s234845@studenti.polito.it</p>
                </div>
            </div>

        </div>
    </section>