<!-- The Jet Lag Section -->
    <section id="main_steps">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">AmI main steps</h2>
                    <h3 class="section-subheading text-muted">Write something about the main steps.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sensing</h4>
                    <p class="text-muted">The ami system is capable to use the data in the smartphone (google agenda,...) to know what are the obligations of the user. We suppose that the user use google calendar to enter all is appointment and trips, like this we can know where the user is from and if he plan to do another journey. Some sensors (temperature and brightness) will be used to know when open/close the blinds or switch on/off the lights.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Reasoning</h4>
                    <p class="text-muted">The Ami system can calculate the circadian rythm of the user with some informations about his sleeping rythm. The circadian rythm is calculate thanks science. In the journal "science et avenir", it explain that according to the age of the person, they advice the slipping time. They also give advices on the behaviour to follow before and after the trip to reduce the Jet Lag.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-industry fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Acting</h4>
                    <p class="text-muted">The Ami system is capable to switch on/off the lights (thanks a hue lamps), open/close the blinds, give advice to the user with a a telegram bot or thanks an android app. This system is developped for a hotel chain, so using the wifi we can have the position of the person. Moreover, we assume that rooms of the hotel chains are all equiped with all the elements we need (lamps,blinds,...)</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Interacting</h4>
                    <p class="text-muted">The system can give advices to the user for his schedule, suggest some naps to the user during the day. According to the science and to his schedule, our system will do suggestions to the user to permit him to rest. During the trip, we will ask feedbacks to the user to improve the way we advice him. Like this we can personalize the advices. </p>
                </div>
            </div>
        </div>
    </section>
